#imagen{
    width: 50%;
    height : 80%;
    top: 15%;

    left: 50%;
    position: absolute;
   
}



/* #margen{
    margin-top: 20%;
} */

#boton{
    margin-top: 70px;
    margin-left: 150px;
}

#padear{
    padding: 40px;
}

#padear2{
    padding-left: 110px;
    
}